:host {
  height: 100%;
  display: block;
}

.mat-drawer-container {
  padding: var(--page-inner-indent-base);
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  display: block;
}

.mat-drawer-content {
  overflow: visible;
}

.gm-drawer {
  display: flex;
  flex-direction: column;
}

.gm-drawer__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gm-drawer__body {
  flex-grow: 1;
  overflow-y: auto;
  width: 320px;
  padding: var(--page-inner-indent-base);
}
